{% extends "ltr/base.html" %}

{% block content%}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-5">
            <h4 class="page-title">Operator</h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Operator</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group row">
                            <label for="Latitude" class="col-sm-1 col-form-label">User ID</label>
                            <div class="col-sm-10">
                              <input type="text" name="search" required>
                              <input type="submit" value="Search">
                            </div>
                            <div class="col-sm-1">
                                <a href="{{url_for('add_operator')}}" class="btn btn-success text-white">Add</a>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">User ID</th>
                                    <th scope="col">Nama Operator</th>
                                    <th scope="col">No HP</th>
                                    <th scope="col">ID Kebun</th>
                                    <th scope="col">Alamat</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{item.UserID}}</td>
                                    <td>{{item.Nama_Operator}}</td>
                                    <td>{{item['No_HP']}}</td>
                                    <td>{{item['ID_Kebun']}}</td>
                                    <td>{{item['Alamat']}}</td>
                                    <td><a href="{{url_for('delete_operator_',userid=item.UserID)}}" class="btn btn-danger text-white">Delete</a>
                                    <a href="{{url_for('edit_operator_',userid=item.UserID)}}" class="btn btn-primary text-white">Edit</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="container">
                            {{pagination.links}}
                            {{pagination.info}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
{% endblock%}