<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Register Page</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="static\css\register.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Leafo-2</h1>
		<p>Prediksi Penyakit Daun Teh</p>
		
		</div>
	</div>
	
	
        <form action="" method="POST">
		<div class="right">
		<h5>Register</h5>
		<p>Have an account? <a href="{{ url_for('login') }}">Log in</a></p>
		<div class="inputs">
			<input type="text" name="name" placeholder="name" required>
			<br>
			<input type="text" name="username" placeholder="user name" required>
			<br>
            <input type="password" name="password" placeholder="password" required>
            <br>
			<input type="password" name="confirm" placeholder=" confirm password" required>
		</div>
        
        <br><br>
        
		<div class="remember-me--forget-password">
            <!-- Angular -->
            <label>
                <input type="checkbox" name="item" checked/>
                <span class="text-checkbox">Remember me</span>
            </label>
			<p>forget password?</p>
		</div>
        
        <br>
        <button type="submit">Register</button>
        </form>
	</div>
	
</div>
<!-- partial -->
  
</body>
</html>
